.practiseTextRenderedDiv, .practiseTextUnrenderedDiv {
  text-align: center
}
#practiseTextRendered {
  margin: auto;
  text-align: left;
  width: 780px;
}

#practiseTextUnrendered {
  margin: auto;
  text-align: left;
  width: 780px;
  font-size: 50px;
}

#userTextDiv {
  position: relative;
  top: 40px;
  text-align: center;
}

#userText {
  width: 780px;
}

#typingTutor {
  margin: auto;
  width: 100%;
  padding: 10px;
}
