.practiseTextRenderedDiv, .practiseTextUnrenderedDiv {
  text-align: center
}
#practiseTextRendered, #practiseTextUnrendered {
  margin: auto;
  text-align: left;
  width: 780px;
}

#userTextDiv {
  position: relative;
  top: 40px;
  text-align: center;
}

#userText {
  width: 780px;
}

#typingTutor {
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
}
